<o-form-layout-manager attr="Order" mode="tab" title="ORDER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="OrderTable" 
            service="Order" 
            entity="Order" 
            title="ORDER"
            keys="id"
            columns="id;customer_id;employee_id;table_id;order_time" 
            header-actions="R;D"
            visible-columns="id;customer_id;employee_id;table_id;order_time"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="employee_id" title="employee_id">
    <o-table-cell-renderer-service attr="employee_id" 
        service="Employee" entity="EmployeeType" columns="id;name"
        parent-keys="id:employee_id"
        value-column="name" keys="employee_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="table_id" title="table_id">
    <o-table-cell-renderer-service attr="table_id" 
        service="Table" entity="TableType" columns="id;name"
        parent-keys="id:table_id"
        value-column="name" keys="table_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #order_time attr="order_time" type="date" label="order_time" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>